body{
	background: url("/images/CommentPic.jpg") no-repeat center center fixed;
	background-size: cover;
}

/*
body{
	background-color: white;
	
}
*/

#body h1{
	text-align:center;
	color: turquoise;
}

#body #input{
	text-align:center;
}

.liClass{
	color: white;
	font-size: 25px;

}

.dateClass{
	color:white;
	font-size: 15px
}